@model TvRaspored.ViewModels.KorisniciDetaljiViewModel

<h1>O korisniku</h1>

<div>
    <hr />
        <img style="width: 150px;" class="m-2" src="/images/@Model.Slika" asp-append-version="true"/>
        <dl class="row">
            <dt class="col-sm-2">
                Korisničko ime
            </dt>
            <dd class="col-sm-10">
                @Model.KorisnickoIme
            </dd>
            <dt class="col-sm-2">
                Ime
            </dt>
            <dd class="col-sm-10">
                @Model.Ime
            </dd>
            <dt class="col-sm-2">
                Prezime
            </dt>
            <dd class="col-sm-10">
                @Model.Prezime
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Model.Email
            </dd>
            <dt class="col-sm-2">
                Datum zadnje prijave
            </dt>
            <dd class="col-sm-10">
                @Model.DatumPrijave
            </dd>
            <dt class="col-sm-2">
                Tip korisnika
            </dt>
            <dd class="col-sm-10">
                @Model.Tip_korisnika
            </dd>
            <dt class="col-sm-2">
                Slika
            </dt>
            <dd class="col-sm-10">
                @Model.Slika
            </dd>
        </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Uredi" asp-route-korisnickoIme="@Model.KorisnickoIme">Uredi</a>
</div>
